<div>
  <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field>
        <mat-label>Table name</mat-label>
        <mat-select id="table" formControlName="table">
          <mat-option value="TABLE1">Table 1</mat-option>
          <mat-option value="TABLE2">Table 2</mat-option>
          <mat-option value="TABLE3">Table 3</mat-option>
          <mat-option value="TABLE4">Table 4</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <div>
      <button
        mat-raised-button
        color="primary"
        style="margin: 10px 10px 10px 10px"
        type="submit"
        [disabled]="!orderForm.valid"
      >
        Save
      </button>
      <button
        mat-raised-button
        color="warn"
        style="margin: 10px 10px 10px 10px"
        (click)="cancel()"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
